.container
{
  
    flex: 5;
    
}
.heading
{
    display: flex;
    width:41vw;
    height:10vh;
    background-color: rgb(40, 151, 151);
    justify-content: center;
    text-decoration: none;
    
    
}
  
.chat_list_card
{
    width:30%;
    height:15vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.line{
    border-bottom:2px solid black;
}
.personName{
text-decoration: none ;
color:black;
}